


<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .container {
    position: relative;
    width: 33%;
    float: left;
  }
  
  #logo{
      font-family: 'Fredericka the Great', cursive; 
      font-size: 70px; 
      /*float: left;*/
      /*text-align: center; */
      color:white 
      display: block;
      padding-left: 30px;
      /*margin-top: 0;*/
      /*margin-bottom: 0;*/
      /*margin-left: auto;*/
      /*margin-right: auto;*/
      width: 50%;
  }
                
  .image {
    display: block;
    width: 300px;
    height: 300px;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FF825D;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    width: 90%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: wrap;
   }
  
    p{
      width: 35%;
    }
    
    #titleabout{
       text-align: center;
       font-family: 'Lily Script One', cursive ; 
       font-size: 110px; 
       text-decoration: underline;
       /*margin-top: 0;*/
       /*margin-bottom: 0;*/
     }
     
     body {
       background-image: url(http://biteinto.info/wp-content/uploads/2016/02/white-marble-flooring-texture-and-marble-texture-home-improvement-21.jpg);
     }
    
    h2 {
      font-family: 'Rye', cursive;
    }
    
    #navbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #FF825D;
      border: 5px solid white;
    }
            
    .navstyle {
      float: left;
    }
                    
     .navstyle a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
      }
                    
      .navstyle a:hover {
        background-color: black;
      }
      
      .button{
                 
                  border: 5px solid black;
                  color: black;
                  padding: 15px 32px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 30px;
                  margin: 4px 2px;
                  border-radius: 12px;
                  
                  
              }
     
</style>
</head>
<body>
  
  <ul id="navbar">
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/breakfastchecklist">Breakfast</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/lunchchecklist">Lunch</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/dinnerchecklist">Dinner</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/dessertchecklist">Dessert</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/about">About</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/youtube">While You Wait</a></li>
    </ul>
    
    <p id="logo"> Kravings </p>
    
    
    <center><h1 id="titleabout">About</h1></center>
    
    <center><a class="button" href="https://www.kodewithklossy.com/ "> LINK TO KWK </a></center>
      
    <h2>Gabrielle Vays</h2><link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">

 

<div class="container">
  <img src="https://i.pinimg.com/originals/7f/95/66/7f9566df84ec382c7a6c6a11695a1620.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
      <center><p>Nickname: Gabby</p></center>
      <center><p>Age: 14</p></center>
      <center><p>Kode With Klossy Scholar</p></center>
      
    </div>
  </div>
  </div>
  
<h2>Valeria Cruise</h2><link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">

 

<div class="container">
  <img src="https://i.pinimg.com/originals/23/17/31/23173110cb7c2e91da3e402184dc7a8f.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
      <center><p>Nickname: Leila</p></center>
      <center><p>Age: 18</p></center>
      <center><p>Kode With Klossy Scholar</p></center>
     </div>
  </div>
</div>
<br>
<br>
  
<h2>Tamara Dandreamatteo</h2><link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">

  


<div class="container">
  <img src="https://i.pinimg.com/originals/51/d8/e6/51d8e650abc8911892e16c6611f86bf7.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
      <center><p>Nickname: Tammy</p></center>
      <center><p>Age: 15</p></center>
      <center><p>Kode With Klossy Scholar</p></center>
    </div>
  </div>
</div>


</body>
</html>


