</html>
<body>
<h1 id=logo> Kravings </h1>
<h1 class="recipes">Recipes</h1>

<div class= "smoothies">
    <section class="name"> Tiramisu </section>
    <!--<img class ="image" src="">-->
    <a class="button" href="http://recipes-chrischelleee.c9users.io:8080/tiramisu">Klick Here</a>
</div>

<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">
</body>
<head>
    <style>
    body {background-image:url(http://linecreates.com/wp-content/uploads/2018/04/Coral-Watercolor-Marble.jpg);
    }
        #logo {
        font-family: 'Fredericka the Great', cursive;
        font-size: 70px;
        padding-top: 30px;
        padding-left: 30px;
    }
    
     .recipes {
       font-family: 'Lily Script One', cursive;
       font-size: 70px;
       text-align: center;  
     }
     
     .name{
         color: black; 
         padding-left: 50px;
        font-family: 'Amatic SC', cursive; 
        font-size: 50px; font-weight: bold;
     }
     
      .button{
                 
                  border: none;
                  color: black;
                  padding: 15px 32px 15px 90px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 20px;
                  margin: 4px 2px;
                  border-radius: 12px;
                  
              }
        
    </style>
    
    
</head>

</html>