<html>
  <head>
      
      
  

<style>
     .tip {
     color: #FF806A;
     }

    body {
    background-image: url("https://www.simpleshapes.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/8/0/8008_img1_closeup_2.jpg");
    background-size: 1850px 1350px;
    }
    
    #logo {
        font-family: 'Fredericka the Great', cursive;
        font-size: 50px;
        padding-top: 30px;
        padding-left: 30px;
    }
    
    .tittle {
        font-family: 'Lily Script One', cursive;
        font-size: 70px;
        text-align: center;
    }
    
    .info {
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
        padding-bottom: 30px;
    }
    
    .ingredients_header {
        font-family: 'Lily Script One', cursive;
        font-size: 40px;
        padding-left: 100px;
    }
    
    .ingridients{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
    }
    
    .directions_header {
        font-family: 'Lily Script One', cursive;
        font-size: 40px;
        padding-left: 100px;
    }
    
    .directions{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
    }
    
    .tips {
        font-family: 'Lily Script One', cursive;
        font-size: 40px;
        padding-left: 100px;
    }
    
    .tiptext{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
    }
    
    .tipcolor {
       color: #FF806A; 
    }
    
    .1 {
        padding-bottom: 200px;
    }
    #navbar {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #FF825D;
                border: 5px solid white;
            }
            
            .navstyle {
                float: left;
            }
                    
            .navstyle a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 30px;
                
            }
                    
            .navstyle a:hover {
                background-color: black;
            }
</style>





</head>  
    
<body>
    
 <ul id="navbar">
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/breakfastchecklist">Breakfast</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/lunchchecklist">Lunch</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/dinnerchecklist">Dinner</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/dessertchecklist">Dessert</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/about">About</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/youtube">While You Wait</a></li>
    </ul>  
    
<p id="logo"> Kravings </p> <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">

<h1 class="tittle">Chicken Milanese with Arugula Salad</h1> <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">

<div class="info"> <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<section class="time">Time: 30-40 minutes </section>
<section class="">Serving Size: 2 people </section>
</div>

<div class= "ingredients_header">
<section> Ingredients </section>
</div>


<ul> 
    <div class= "ingridients"> 
    <li>½ pint grape tomatoes </li>
    <li> ⅓ cup Dijon mustard (divided into 2 tablespoons and ¼ cup) </li>
    <li>3 tablespoons apple cider vinegar (divided into 1 ½ tablespoons)</li>
    <li>2 boneless skinless chicken breasts </li>
    <li>½ cup flour </li>
    <li>1 cup panko breadcrumbs </li>
    <li>2 tablespoons mayonnaise </li>
    <li>¼ teaspoon cayenne pepper</li>   
    <li>5 ounces baby arugula </li>
    <li>¼ cup + 1 tablespoon olive oil </li>
    <li>1 egg </li>
    <li>Kosher salt </li>
    <li>Black pepper (if you don’t like black pepper than I recommend don’t put it) </li>
    <li>Plastic wrap</li>
    <li>Meat mallet or heavy pan  </li>
    <li>12” large nonstick pan </li>
    </div>
</ul>


<p class= "directions_header">Directions</p>
<ol> 
    <div class= "directions">
    <li> Pat chicken dry with paper towel and place between 2 large pieces of plastic wrap. Using a meat mallet or heavy pan, pound to ¼” thickness.</li>
    <li> Season chicken with one teaspoon salt and black pepper as desired.</li>
    <li> Place flour on a large plate and season with ⅛ teaspoon salt and black pepper as desired. </li>
    <li> In a large shallow bowl whisk one egg. </li>
    <li> Place breadcrumbs on a separate large plate.</li>
    <li> Dredge chicken in flour, shaking off excess.</li>
    <li> Dip in egg allowing excess to drip off. </li>
    <li> Dredge in breadcrumbs, pressing to adhere. </li>
    <li> Heat 2 tablespoons olive oil in a large non-stick pan over medium heat. When oil is shimmering add chicken and sear until crust is brown and chicken is cooked through and no longer pink. </li>
    <li> While chicken cooks, make honey mustard. In a small bowl whisk together mayonnaise, honey, cayenne pepper, ¼ cup mustard, 1 ½ tablespoons apple cider vinegar and ¼ teaspoon salt until smooth. </li>
    <li> While chicken cooks, make salad dressing. Whisk together 2 teaspoons mustard, 1 ½ tablespoons apple cider vinegar, 3 tablespoons olive oil, ¼ tablespoon salt, and black pepper as desired.. </li>
    <li> Rinse tomatoes and cut them in halves and place them in salad bowl. Add arugula and desired amount of dressing. </li>
    </div>
</ol>



<h1 class= "tips"> Insider's Secrets </h1>
<ul> 
    <div class="tiptext">
    <li class="1"> Cayenne pepper is extremely strong so use half the amount to start out and add more if you want it to have a “kick”. </li>
    <li class="1"> It’s really important that the chicken is thin so don’t disregard this step because it will make sure your chicken cooks fast without burning the panco. </li>
    <li class="1"> Rub a little water on your work surface under the bottom piece of plastic wrap to keep it from moving around while you pound the chicken. </li>
    <li class="1"> Panko crumbs tend to burn easily so if chicken begins to darken too quickly add more oil to the pan, 1 tablespoon at a time. </li>
    <li class="1"> Make sure you heat the pan to medium heat and not high or the chicken will burn before on the outside and remain uncooked in the inside.</li>
    </div>
</ul>

</body>



    
<!--Kloss recommends using coconut oil.-->
<!--"If you make them small, they're easier to flip and they cook faster," says Kloss.-->
</html>