
    
    
    
    <html> 
    <head>
        
        <style>
        
        body {
            background-image: url("http://blog.visme.co/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-027.jpg");
            background-size: 1200px 1250px;
        }
            #serach {
                    color: white;
                    
              }
              
              #logo{
                font-family: 'Fredericka the Great', cursive; 
                font-size: 100px; 
                padding-left: 50px; 
                color:white 
                
              }
              #serach{
                color:white; 
                text-align: center;
                font-family: 'Amatic SC', cursive; 
                font-size: 50px; font-weight: bold;
              }
              
    

        .button{
                 
                  border: none;
                  color: black;
                  padding: 15px 32px;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 13px;
                  margin: 4px 2px;
                  border-radius: 12px;
              }
              
        textarea.name {
            font-size: 30px;
            color: black;
            font-family: 'Amatic SC', cursive; 
        }
        </style>
   </head>
  <body> 
  
  <p id="logo"> Kravings </p> <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
  
  
  
  <form method="POST" action="/recipesdessert">
      
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <p id= "serach">Type any of these words to search the category of your choice: cookies, cake, brownies, all </p>
  <!--<textarea class="name" rows="1" cols="50" name="bfast" style="text-transform:uppercase" link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet"/>
  </textarea></p>-->
  <p> <center> <input type="text" name="dessert" ></center></p>
      <center><input type = "submit" class="button"></center>
  
  <!--<p> text: <input type="text" name="bfast"></p><center><input type = "submit" class="button"></center>-->
     
     
</form>
    
</body>
</html>