<html>
  <head>
      
<style>
     .tip {
     color: #FF806A;
     }

    body {
    background-image: url("https://www.simpleshapes.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/8/0/8008_img1_closeup_2.jpg");
    background-size: 1850px 1350px;
    }
    
    #logo {
        font-family: 'Fredericka the Great', cursive;
        font-size: 50px;
        padding-top: 30px;
        padding-left: 30px;
    }
    
    .tittle {
        font-family: 'Lily Script One', cursive;
        font-size: 70px;
        text-align: center;
    }
    
    .info {
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
        padding-bottom: 30px;
    }
    
    .ingredients_header {
        font-family: 'Lily Script One', cursive;
        font-size: 40px;
        padding-left: 100px;
    }
    
    .ingridients{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
    }
    
    .directions_header {
        font-family: 'Lily Script One', cursive;
        font-size: 40px;
        padding-left: 100px;
    }
    
    .directions{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
    }
    
    .tips {
        font-family: 'Lily Script One', cursive;
        font-size: 40px;
        padding-left: 100px;
    }
    
    .tiptext{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
    }
    
    .tipcolor {
       color: #FF806A; 
    }
    
    .1 {
        padding-bottom: 200px;
    }
    #navbar {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #FF825D;
                border: 5px solid white;
            }
            
            .navstyle {
                float: left;
            }
                    
            .navstyle a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 30px;
                
            }
                    
            .navstyle a:hover {
                background-color: black;
            }
    
</style>
</head>  
<body>
    
  <ul id="navbar">
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/breakfastchecklist">Breakfast</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/lunchchecklist">Lunch</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/dinnerchecklist">Dinner</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/dessertchecklist">Dessert</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/about">About</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/youtube">While You Wait</a></li>
    </ul>  
 
<p id="logo"> Kravings </p> <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">

<h1 class="tittle">Egg White "Muffins" </h1> <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">

<div class="info"> <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<section class="time">Time: 20 minutes </section>
<section class="">Serving Size: 6 muffins </section>
</div>

<div class= "ingredients_header">
<section> Ingredients </section>
</div>


<ul> 
    <div class= "ingridients"> 
    <li>6 large egg whites </li>
    <li>6 teaspoons cayenne pepper </li>
    </div>
</ul>



<p class= "directions_header">Directions</p>
<ol> 
    <div class= "directions">
    <li> Preheat oven to 350 degrees.</li>
    <li> Line a muffin tin with 6 cupcake liners.</li>
    <li> Pour a single egg white into each cupcake liner.  </li>
    <li> Add a teaspoon of cayenne pepper and mix until combined.</li>
    <li> Bake in oven for 25 minutes or until egg whites are set. </li>
    </div>
</ol>



<h1 class= "tips"> Insider's Secrets </h1>
<ul> 
    <div class="tiptext">
    <li class="1"> <span class="tipcolor"> </span> This recipe is meant to be extremely healthy, but if you wish to add in any toppings, just add them to the egg white and mix in prior to placing them in the oven.
 </li>
    
    </div>
</ul>

</body>



    
<!--Kloss recommends using coconut oil.-->
<!--"If you make them small, they're easier to flip and they cook faster," says Kloss.-->
</html>