<!-- form to make the input a variable (slack)-->
<!--create button to take to other site(embed link and start new file) -->
<html>
  <head>
        
        <style>
              
            
              
              body {
                    background-image: url("http://highclasseats.com/wp-content/uploads/2016/01/chocolate-truffles-8.jpg"); 
                    background-size: 1850px 1350px; 
              }
              #your_name {
                    color: white;
                    
              }
              
              #logo{
                font-family: 'Fredericka the Great', cursive; 
                font-size: 200px; 
                text-align: center; 
                color:white 
                
              }
              #your_name{
                color:white; 
                text-align: center;
                font-family: 'Amatic SC', cursive; 
                font-size: 70px; font-weight: bold;
              }

              .button{
                 
                  border: none;
                  color: black;
                  padding: 15px 32px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 13px;
                  margin: 4px 2px;
                  border-radius: 12px;
                  
              }
                  textarea.name {
                    font-size:30px;
                    color:black;
                    font-family: 'Amatic SC', cursive; 
                    
                    
                  }

        </style>
            
  </head>
  <body>
       
            <p id="logo"> Kravings </p> <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <form method="POST" action="/orientation">
       <p id= "your_name">Type your name to get started: 
       <textarea class="name" rows="1" cols="50" name="name" link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet" />
        </textarea>
       </p>
       <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

      <center><input type = "submit" class="button"></center>
    </form>
    
  </body>
  
</html>