<html>
    <head>
      
      
  

<style>
     .tip {
     color: #FF806A;
     }

    body {
    background-image: url("https://www.simpleshapes.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/8/0/8008_img1_closeup_2.jpg");
    background-size: 1850px 1350px;
    }
    
    #logo {
        font-family: 'Fredericka the Great', cursive;
        font-size: 50px;
        padding-top: 30px;
        padding-left: 30px;
    }
    
    .tittle {
        font-family: 'Lily Script One', cursive;
        font-size: 70px;
        text-align: center;
    }
    
    .info {
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
        padding-bottom: 30px;
    }
    
    .ingredients_header {
        font-family: 'Lily Script One', cursive;
        font-size: 40px;
        padding-left: 100px;
    }
    
    .ingridients{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
    }
    
    .directions_header {
        font-family: 'Lily Script One', cursive;
        font-size: 40px;
        padding-left: 100px;
    }
    
    .directions{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
    }
    
    .tips {
        font-family: 'Lily Script One', cursive;
        font-size: 40px;
        padding-left: 100px;
    }
    
    .tiptext{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
    }
    
    .tipcolor {
       color: #FF806A; 
    }
    
    .1 {
        padding-bottom: 200px;
    }
    
    #navbar {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #FF825D;
                border: 5px solid white;
            }
            
            .navstyle {
                float: left;
            }
                    
            .navstyle a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 30px;
                
            }
                    
            .navstyle a:hover {
                background-color: black;
            }
    
</style>
</head>  
  
<body>
    
   <ul id="navbar">
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/breakfastchecklist">Breakfast</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/lunchchecklist">Lunch</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/dinnerchecklist">Dinner</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/dessertchecklist">Dessert</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/about">About</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/youtube">While You Wait</a></li>
    </ul>   
 
<p id="logo"> Kravings </p> <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">

<h1 class="tittle">Lamb Chops </h1> <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">

<div class="info"> <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<section class="time">Time: 42 minutes </section>
<section class="">Serving Size: 16 chops (serves up to 8 people) </section>
</div>

<div class= "ingredients_header">
<section> Ingredients </section>
</div>


<ul> 
    <div class= "ingridients"> 
    <section>For the lamb chops:</section>
    <li>2.25 lb frenched lamb rack, divided into chops (about 2 racks of lamb, divided into 16 chops or so) </li>
    <li>Private Reserve Greek extra virgin olive oil </li>
    <li>Orange slices, for garnish </li>
    <li>Fresh parsley, for garnish </li>
    <section>For the spice mixture:</section>
    <li>2 tsp all-natural Harissa spice blend </li>
    <li>1 tsp black pepper </li>
    <li>1/2 to 3/4 tsp salt (depending on your salt preference) </li>
    <li>1/2 tsp organic ground coriander </li>
    <li>1/2 tsp ground cinnamon </li>
    <section>For the marinade:</section>
    <li>1 orange, zested and juiced </li>
    <li>1 lemon, zested and juiced </li>
    <li>1/4 cup Private Reserve Greek extra virgin olive oil </li>
    <li>10 garlic cloves, minced </li>
    </div>
</ul>



<p class= "directions_header">Directions</p>
<ol> 
    <div class= "directions">
    <li> In a small bowl, combine Harissa spice blend, pepper, salt, coriander and cinnamon to make the spice mixture.</li>
    <li> Rub lamb chops generously with the spice mixture on both sides (do not discard any extra spice mixture), and place the chops in a large zip lock bag.</li>
    <li> Mix the marinade ingredients together, and add them to the bag with the lamb chops. If you have some of the spice mixture remaining, add them to the bag as well. Zip the bag shut and work with your hands to coat the lamb chops well. Leave at room temperature for 20 minutes or so.</li>
    <li> Add 1 1/2 tbsp extra virgin olive oil to coat the bottom of a large cast iron skillet like this one. Heat over medium until oil is shimmering but not smoking.</li>
    <li> Using tongs, add lamb chops to the skillet. Sear for 3 minutes or so on each side (for medium-rare, depending on the thickness of the chops. Cook longer if you like your chops more done.) Transfer to platter and cover with foil. Repeat with any remaining chops. </li>
    <li> Garnish with thinly sliced oranges and fresh parsley leaves. Add a drizzle of tahini if you like (optional). </li>
    <li> If you serve these for dinner, you can add a side of  Greek potatoes, Italian Roasted Vegetables, or Lebanese rice. Add a simple salad like this Mediterranean salad or Greek salad, to start. If you want to keep the orange theme going, try this Orange Pomegranate salad.</li>
    </div>
</ol>

   


<h1 class= "tips"> Insider's Secrets </h1>
<ul> 
    <div class="tiptext">
    <li class="1"> You should probably use a thermometer for the meat so that you don’t overcook it. </li>
    <li class="1"> Larger Chops, such as “rainbow” or “shoulder” chops, can be seared on the stove top, then finished in the oven at 400°F.</li>
    <li class="1"> Smaller Lamb Chops, called “baby”, “first cut”, or “rib chops,” can be seared on the stove or grill, no oven required. </li>
    </div>
</ul>



</body>

    
<!--Kloss recommends using coconut oil.-->
<!--"If you make them small, they're easier to flip and they cook faster," says Kloss.-->
</html>