<html>
  <head>
      
      
  

<style>
     .tip {
     color: #FF806A;
     }

    body {
    background-image: url("https://www.simpleshapes.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/8/0/8008_img1_closeup_2.jpg");
    background-size: 1850px 1350px;
    }
    
    #logo {
        font-family: 'Fredericka the Great', cursive;
        font-size: 50px;
        padding-top: 30px;
        padding-left: 30px;
    }
    
    .tittle {
        font-family: 'Lily Script One', cursive;
        font-size: 70px;
        text-align: center;
    }
    
    .info {
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
        padding-bottom: 30px;
    }
    
    .ingredients_header {
        font-family: 'Lily Script One', cursive;
        font-size: 40px;
        padding-left: 100px;
    }
    
    .ingridients{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
    }
    
    .directions_header {
        font-family: 'Lily Script One', cursive;
        font-size: 40px;
        padding-left: 100px;
    }
    
    .directions{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
    }
    
    .tips {
        font-family: 'Lily Script One', cursive;
        font-size: 40px;
        padding-left: 100px;
    }
    
    .tiptext{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
    }
    
    .tipcolor {
       color: #FF806A; 
    }
    
    .1 {
        padding-bottom: 200px;
    }
     #navbar {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #FF825D;
                border: 5px solid white;
            }
            
            .navstyle {
                float: left;
            }
                    
            .navstyle a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 30px;
                
            }
                    
            .navstyle a:hover {
                background-color: black;
            }
</style>





</head>  
<body>
  <ul id="navbar">
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/breakfastchecklist">Breakfast</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/lunchchecklist">Lunch</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/dinnerchecklist">Dinner</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/dessertchecklist">Dessert</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/about">About</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/youtube">While You Wait</a></li>
    </ul>    
 
<p id="logo"> Kravings </p> <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">

<h1 class="tittle">Macarons </h1> <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">

<div class="info"> <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<section class="time">Time: 2 ½ hours </section>
<section class="">Serving Size: 56 1- inch cookies </section>
</div>

<div class= "ingredients_header">
<section> Ingredients </section>
</div>


<ul> 
    <div class= "ingridients">
    <section>For the cookies:</section> 
    <li>2 3/4 cups + 1 tbsp almond flour </li>
    <li>2 cups + 1 tbsp confectioners  sugar </li>
    <li>6 ½ egg whites </li>
    <li>1 cup + 1 tbsp granulated sugar </li>
    <li>1 vanilla bean </li>
    <section>For the filling:</section> 
    <li>1 vanilla bean </li>
    <li>1 cup granulated sugar </li>
    <li>3 egg whites </li>
    <li>1 pinch cream of tartar </li>
    <li>¼ cup water </li>
    </div>
</ul>



<p class= "directions_header">Directions</p>
<ol> 
    <div class= "directions">
    <li> Preheat your oven to 300°F with an oven rack in the lower third.</li>
    <li> Combine almond flour and confectioners sugar together in a food processor and blend thoroughly. Sift the mixture through a medium gauge sifter to remove any lumps or large pieces of almond and repeat until fine.</li>
    <li> With a large flat rubber spatula, fold one third of your sifted almond/sugar into the egg whites until combined. Repeat, until you've added all the almond mixture. </li>
    <li> Pipe your cookies on parchment or silicone baking mats and then allow to rest for 10-15 minutes before baking, then bake one sheet at a time for 15 minutes.</li>
    <li> Allow the cookies to cool completely on the baking sheet and in the meantime, make the vanilla filling. To start, split the vanilla pod lengthwise, and using the back of paring knife, scrape the beans into the granulated sugar. </li>
    <li> Whip the egg whites and cream of tartar to soft peaks. Bring the vanilla pod, vanilla sugar and water to a boil in a small saucepan, and cook syrup to 238°F. Carefully remove the vanilla pod and then gradually pour the syrup down the side of the bowl, cool on medium speed for about 8 minutes. Add in the salt, butter and whip on high speed until fluffy and emulsified, about 10 minutes. Add vanilla extract. </li>
    <li> Fill the cookies with a small dollop of jam and then arrange in an airtight container. Refrigerate the cookies for a minimum of 24 hours to mature. Then bring to room temperature and serve.</li>
    </div>
</ol>


<h1 class= "tips"> Insider's Secrets </h1>
<ul> 
    <div class="tiptext">
    <li class="1"> If your cookies tend to burst, move the rack higher.</li>
    <li class="1"> If your cookies tend to brown, move the rack lower.</li>
    <li class="1"> When making macarons make sure to use room temperature egg whites resulting in a firmer more stable meringue.</li>
    <li class="1"> When adding food coloring use gel food coloring because the liquid will affect the texture of the batter.</li>
    <li class="1"> When baking macarons make sure it’s not very humid in the room because the humidity will not let the batter dry. If it is very humid make sure to you a humidifier.</li>
    </div>
</ul>



</body>



    
<!--Kloss recommends using coconut oil.-->
<!--"If you make them small, they're easier to flip and they cook faster," says Kloss.-->
</html>
