
<html> 

    <head>
        
        <style> 
              
            .tabs {
                background-color: #FF825D;
            }
              
            body {
                background-image: url("https://pioneerwoman.files.wordpress.com/2015/09/how-to-make-coconut-whipped-cream-06.jpg");
                background-size:2000px 1500px;
            }
        
              
            #logo{
                font-family: 'Fredericka the Great', cursive; font-size: 200px; text-align: center; 
            }
              
            /*NAV STYLE HERE*/
            #navbar {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #FF825D;
                border: 5px solid white;
            }
            
            .navstyle {
                float: left;
            }
                    
            .navstyle a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 30px;
                
            }
                    
            .navstyle a:hover {
                background-color: black;
            }
            /*NAV STYLE HERE*/
            
            #introspeech {font-family: 'Stardos Stencil', cursive;
                font-size: 25px;
            }
                
             #phrase{ 
                 font-family: 'Montserrat Subrayada', sans-serif;
                font-size:50px; 
                color:#FF825D;
                
            }
            
            .namevar{
                color: black; 
                text-align: center;
                font-family: 'Amatic SC', cursive; 
                font-size: 100px; font-weight: bold;
            }
              
        </style>
            
  </head>
  <body>
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <!--NAV BAR CODE HERE-->
    <ul id="navbar">
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/breakfastchecklist">Breakfast</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/lunchchecklist">Lunch</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/dinnerchecklist">Dinner</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/dessertchecklist">Dessert</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/about">About</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/youtube">While You Wait</a></li>
    </ul>  
    <!--NAV BAR CODE HERE-->
    
    <p id="logo"> Kravings </p> <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
   
  <center>
      <h1 class="namevar"> Welcome <%= @name %>!</h1>
  <h1 id= "phrase">It all started with a ten day program.</h1> 
  <p><link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Stardos+Stencil" rel="stylesheet">
      
  </p>
  <p>
      
  </p>
  <section id= "introspeech">
  <p>A coding camp that brought together 6 strangers, who were all inspired to use computer science to create sites that would address an issue within a community. 
  </p>The three of us were inspired by something commonplace in our lives: food.</p>
  <p>Why should people take the time and risk at guessing which recipe of the hundreds that came up on their google search is actually good?</p>
  <p>Life's too short, and in light of that we've put together recipes that we personally believe to be culinary hits.</p>
  <p> We've also included tried and true (by the three of the creators) hints to aid in the proccess.</p>
  <p>We believe that good food should come with ease, and after all...</p>
  <p>If three teenagers could correctly make these recipes, no doubt you can too!</p><link href="https://fonts.googleapis.com/css?family=Stardos+Stencil" rel="stylesheet">
  <p>
      
  </p>
  <p>
      
  </p>
  
 <p>
     
 </p>
 <p>
     
 </p>
 <p>
     
 </p>
  </section>
    </center>
  </body>
  
</html>
            
    
