<html>
   
    <head>

        <style>
             .tip {
             color: #FF806A;
             }
        
            body {
                background-image: url("https://www.simpleshapes.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/8/0/8008_img1_closeup_2.jpg");
                background-size: 1850px 1350px;
            }
            
            #logo {
                font-family: 'Fredericka the Great', cursive;
                font-size: 50px;
                padding-top: 50px;
                padding-left: 30px;
            }
            
            .tittle {
                font-family: 'Lily Script One', cursive;
                font-size: 70px;
                text-align: center;
            }
            
            .info {
                font-family: 'Quicksand', sans-serif;
                font-size: 25px;
                padding-left: 50px;
                padding-bottom: 30px;
            }
            
            .ingredients_header {
                font-family: 'Lily Script One', cursive;
                font-size: 40px;
                padding-left: 100px;
            }
            
            .ingridients{
                font-family: 'Quicksand', sans-serif;
                font-size: 25px;
                padding-left: 50px;
            }
            
            .directions_header {
                font-family: 'Lily Script One', cursive;
                font-size: 40px;
                padding-left: 100px;
            }
            
            .directions{
                font-family: 'Quicksand', sans-serif;
                font-size: 25px;
                padding-left: 50px;
            }
            
            .tips {
                font-family: 'Lily Script One', cursive;
                font-size: 40px;
                padding-left: 100px;
            }
            
            .tiptext{
                font-family: 'Quicksand', sans-serif;
                font-size: 25px;
                padding-left: 50px;
            }
            
            .tipcolor {
               color: #FF806A; 
            }
            
            .1 {
                padding-bottom: 200px;
            }
            
            /*NAV STYLE HERE*/
            #navbar {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #FF825D;
                border: 5px solid white;
            }
            
            .navstyle {
                float: left;
            }
                    
            .navstyle a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 30px;
                
            }
                    
            .navstyle a:hover {
                background-color: black;
            }
            /*NAV STYLE HERE*/
            
        </style>

</head>  
  
<body>
  
  <!--NAV BAR CODE HERE-->
    <ul id="navbar">
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/breakfastchecklist">Breakfast</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/lunchchecklist">Lunch</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/dinnerchecklist">Dinner</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/dessertchecklist">Dessert</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/about">About</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/youtube">While You Wait</a></li>
    </ul>  
    <!--NAV BAR CODE HERE-->
 
<p id="logo"> Kravings </p> <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">

<h1 class="tittle">Perfect 10 Kookies </h1> <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">

<div class="info"> <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<section class="info">Time: varies (8 minutes per batch </section>
<section class="info">Serving Size: 22 cookies </section>
</div>

<div class= "ingredients_header">
<section> Ingredients </section>
</div>




<ul> 
    <div class= "ingridients"> 
    <li>7 cups almond flour </li>
    <li>4 ¼ gluten free oats</li>
    <li>1 tsp kosher salt </li>
    <li>1 tbsp cornstarch</li>
    <li>½ tsp baking soda </li>
    <li>1 ½ tsp baking powder</li>
    <li>1 cup slivered almonds</li>
    <li>¼ cup vanilla extract</li>
    <li>1 ½ cup olive oil</li>
    <li>1 cup agave</li>
    <li>1 ½ cup mini chocolate chips</li>
    </div>
</ul>



<p class= "directions_header">Directions</p>
<ol> 
    <div class= "directions">
    <li> Preheat oven to 300 F.</li>
    <li>Mix dry ingredients in a stand mixer using a paddle attachment. </li>
    <li>Add liquid ingredients and mix until well combined. </li>
    <li> Dump dough onto a clean surface and roll into a thick ½ inch-thick sheet.</li>
    <li> Cut cookies with a ring mold and transfer to a lined sheet pan.</li>
    <li> Bake for 8 minutes or until golden brown. </li>
    </div>
</ol>



<!--<h1 class= "tips"> Insider's Secrets </h1>-->
<!--<ul> -->
<!--    <div class="tiptext">-->
<!--    <li class="1"> <span class="tipcolor"> oil: </span> We recommend using coconut oil. </li>-->
<!--    <li class="1"> <span class="tipcolor"> scoop small amounts: </span> If you make them small, they're easier to flip and they cook faster. </li>-->
<!--    </div>-->
<!--</ul>-->

</body>


    
<!--Kloss recommends using coconut oil.-->
<!--"If you make them small, they're easier to flip and they cook faster," says Kloss.-->
</html>