<html>
   
    <head>

        <style>
             .tip {
             color: #FF806A;
             }
        
            body {
                background-image: url("https://www.simpleshapes.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/8/0/8008_img1_closeup_2.jpg");
                background-size: 1850px 1350px;
            }
            
            #logo {
                font-family: 'Fredericka the Great', cursive;
                font-size: 50px;
                padding-top: 50px;
                padding-left: 30px;
            }
            
            .tittle {
                font-family: 'Lily Script One', cursive;
                font-size: 70px;
                text-align: center;
            }
            
            .info {
                font-family: 'Quicksand', sans-serif;
                font-size: 25px;
                padding-left: 50px;
                padding-bottom: 30px;
            }
            
            .ingredients_header {
                font-family: 'Lily Script One', cursive;
                font-size: 40px;
                padding-left: 100px;
            }
            
            .ingridients{
                font-family: 'Quicksand', sans-serif;
                font-size: 25px;
                padding-left: 50px;
            }
            
            .directions_header {
                font-family: 'Lily Script One', cursive;
                font-size: 40px;
                padding-left: 100px;
            }
            
            .directions{
                font-family: 'Quicksand', sans-serif;
                font-size: 25px;
                padding-left: 50px;
            }
            
            .tips {
                font-family: 'Lily Script One', cursive;
                font-size: 40px;
                padding-left: 100px;
            }
            
            .tiptext{
                font-family: 'Quicksand', sans-serif;
                font-size: 25px;
                padding-left: 50px;
            }
            
            .tipcolor {
               color: #FF806A; 
            }
            
            .1 {
                padding-bottom: 200px;
            }
            
            /*NAV STYLE HERE*/
            #navbar {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #FF825D;
                border: 5px solid white;
            }
            
            .navstyle {
                float: left;
            }
                    
            .navstyle a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 30px;
                
            }
                    
            .navstyle a:hover {
                background-color: black;
            }
            /*NAV STYLE HERE*/
            
        </style>

</head>  
  
<body>
  
  <!--NAV BAR CODE HERE-->
    <ul id="navbar">
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/breakfastchecklist">Breakfast</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/lunchchecklist">Lunch</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/dinnerchecklist">Dinner</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/dessertchecklist">Dessert</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/about">About</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/youtube">While You Wait</a></li>
    </ul>  
    <!--NAV BAR CODE HERE-->
 
<p id="logo"> Kravings </p> <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">

<h1 class="tittle">Slutty Brownies </h1> <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">

<div class="info"> <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<section class="time">Time: 1 hour </section>
<section class="">Serving Size: 24 brownies </section>
</div>

<div class= "ingredients_header">
<section> Ingredients </section>
</div>


<ul> 
    <div class= "ingridients"> 
    <li>1 box chocolate fudge pillsbury brownie mix </li>
    <li>2 eggs </li>
    <li>1/4 cup water </li>
    <li>2/3 cup oil </li>
    <li>1/4 cup nutella </li>
    <li>12 double stuf oreos</li>
    <li>2 cups nestle tollhouse chocolate chip cookie dough</li>
    </div>
</ul>



<p class= "directions_header">Directions</p>
<ol> 
    <div class= "directions">
    <li> Preheat oven to 350 degrees.</li>
    <li> Mix brownie mix, eggs, water, and oil until just combined.</li>
    <li> Mix in the <span class = "tip">nutella</span> and set aside. </li>
    <li> Grab the cookie dough and flatten it in a 9 inch x 12 inch pan</>
    <li>Place the <span class= "tip">oreos</span> onto the flattened cookie dough.</li>
    <li>Pour the <span class="tip">brownie mix</span> on top of the oreos slowly.
    <li>Gently knock pan on your counter to remove air bubbles, and place the pan in the oven for 45 minutes. </li>
    <li>Take out of the oven, cut up into squares and enjoy!</li>
    </div>
</ol>



<h1 class= "tips"> Insider's Secrets </h1>
<ul> 
    <div class="tiptext">
    <li class="1"> <span class="tipcolor"> nutella: </span> We popping the brownie mixture with the nutella in the microvave for 15 seconds to give the brownies a smoother consistency. </li>
    <li class="1"> <span class="tipcolor"> oreos: </span> Arrange them in 3 rows with 4 oreos in each row! </li>
    <li class="1"> <span class="tipcolor"> brownie mix: </span> We recommend putting the brownie mix through a strainer to pour it, giving you a smoother, fudgier consistency  </li>
    </div>
</ul>

</body>


    
<!--Kloss recommends using coconut oil.-->
<!--"If you make them small, they're easier to flip and they cook faster," says Kloss.-->
</html>