<html>
  <head>

<style>
     .tip {
     color: #FF806A;
     }

    body {
    background-image: url("https://www.simpleshapes.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/8/0/8008_img1_closeup_2.jpg");
    background-size: 1850px 1350px;
    }
    
    #logo {
        font-family: 'Fredericka the Great', cursive;
        font-size: 50px;
        padding-top: 30px;
        padding-left: 30px;
    }
    
    .tittle {
        font-family: 'Lily Script One', cursive;
        font-size: 70px;
        text-align: center;
    }
    
    .info {
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
        padding-bottom: 30px;
    }
    
    .ingredients_header {
        font-family: 'Lily Script One', cursive;
        font-size: 40px;
        padding-left: 100px;
    }
    
    .ingridients{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
    }
    
    .directions_header {
        font-family: 'Lily Script One', cursive;
        font-size: 40px;
        padding-left: 100px;
    }
    
    .directions{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
    }
    
    .tips {
        font-family: 'Lily Script One', cursive;
        font-size: 40px;
        padding-left: 100px;
    }
    
    .tiptext{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-left: 50px;
    }
    
    .tipcolor {
       color: #FF806A; 
    }
    
    .1 {
        padding-bottom: 200px;
    }
    
    #navbar {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #FF825D;
                border: 5px solid white;
            }
            
            .navstyle {
                float: left;
            }
                    
            .navstyle a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 30px;
                
            }
                    
            .navstyle a:hover {
                background-color: black;
            }
            
            
    
    
</style>

</head>  
    
<body>
    <ul id="navbar">
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/breakfastchecklist">Breakfast</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/lunchchecklist">Lunch</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/dinnerchecklist">Dinner</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/dessertchecklist">Dessert</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/about">About</a></li>
      <li class="navstyle"><a class="tabs" href="http://recipes-chrischelleee.c9users.io:8080/youtube">While You Wait</a></li>
    </ul>  
 
<p id="logo"> Kravings </p> <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">

<h1 class="tittle">Tiramisu </h1> <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">

<div class="info"> <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<section class="time">Time: 30-40 minutes </section>
</div>

<div class= "ingredients_header">
<section> Ingredients </section>
</div>


<ul> 
    <div class= "ingridients"> 
    <li>6 eggs </li>
    <li>120 gr of sugar </li>
    <li>400 gr of philadelphia cheese </li>
    <li>Cocoa powder </li>
    <li>400 gr of Templates (Lady Fingers)</li>
    <li>1/2 liter of Black Coffee </li>
    <li> A piece of grated dark chocolate (optional) for the last layer after cocoa </li>
    
    </div>
</ul>

<p class= "directions_header">Directions</p>
<ol> 
    <div class= "directions">
    <li> Separate the egg whites from the yolk of the eggs.</li>
    <li> Then put the egg whites in a  blender and set the speed to the maximum, and little by little start adding the sugar (half 60grs) until they are pretty firm.</li>
    <li> In a separate bowl, beat the yolks and half the sugar (60 gr) with an electric mixer . Add philadelphia cheese and mix evenly. </li>
    <li> Add the egg whites slowly and delicately and mix until it is snow like. This is your “philadelphia cream”.</li>
    <li>  Make coffee </li>
    <li> Soak the lady fingers in the coffee quickly </li>
    <li> Take the fingers and put into a pan. This will act like the first layer of the Tiramisu.  </li>
    <li> Add a generous layer of the philadelphia cream on top of the lady fingers.  </li>
    <li> Dust some cocoa powder on top of the cream.  </li>
    <li> Repeat steps 7-9.  </li>
    <li>On the last layer grate some dark chocolate to insead of a layer of cacao powder.</li>
    <li>Put the tiramisu in the fridge for about three hours or until when your guest or your Kraving kicks in!</li>
    
    </div>
</ol>


<h1 class= "tips"> Insider's Secrets </h1>
<ul> 
    <div class="tiptext">
    <li class="1"> When you separate the egg whites from the yolk make sure that they is no leftover yolk. Also keep the egg whites in a clean bowl without any residue of water or other substances, treat them as the temperamental queens they are.</li>
    <li class="1"> When you make the coffee make sure you make it concentrated (even if you are not a coffee fan) because otherwise the lady fingers will taste like if they had been soaked in water instead of coffee. </li>
     <li class="1">Sweeten the coffee at least a little otherwise it will be really bitter. The amount of sugar is up to your preference. </li>
     <li class="1">The best Ladyfingers to get are from Whole Foods because they are the ones that absorb the most without falling apart.</li>
     <li class="1">When you dip the Lady fingers into the coffee don’t let them soak for minutes. It has to be quick so that the fingers don’t fall apart.</li>
     <li class="1">Pro Tip: Add about 2 more spoon fulls of the philadelphia cream when making the layers to balance the cream to sweetness ratio.</li>
    </div>
</ul>

</body>



<!--Kloss recommends using coconut oil.-->
<!--"If you make them small, they're easier to flip and they cook faster," says Kloss.-->
</html>