<head>
    <style>
    body {background-image:url(http://linecreates.com/wp-content/uploads/2018/04/Coral-Watercolor-Marble.jpg);
    }
        #logo {
        font-family: 'Fredericka the Great', cursive;
        font-size: 70px;
        padding-top: 30px;
        padding-left: 30px;
    }
    
     .header {
       font-family: 'Lily Script One', cursive;
       font-size: 70px;
       text-align: center;  
     }
     
     .header2{
         color: black; 
         text-align: center;
        font-family: 'Amatic SC', cursive; 
        font-size: 50px; font-weight: bold;
     }
     
     .header3{
         color: black; 
         text-align: center;
        font-family: 'Amatic SC', cursive; 
        font-size: 50px; font-weight: bold;
     }
     
     .button{
                 
                  border: none;
                  color: black;
                  /*padding: 15px 32px 15px 140px;*/
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 13px;
                  margin: 4px 2px;
                  border-radius: 12px;
                  
              }
        
    </style>
    
    
</head>

<body>
    
    <p id="logo"> Kravings </p> <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">
    
    <h1 class="header">While you wait..</h1>
    <center><h1 class="header2">Check out these playlists to pass the time (or read, please try to at least read first):</h1></center>
    
    <h1 class="header3">Funny</h1>
    <center><a class="button" href="https://www.youtube.com/watch?v=k-cavEKkirc&list=PLctR_4qr7j4-hhEdD-ozTwZb2SSdxA3fn">Klick Here</a></center>
    <h1 class="header3">Other</h1>
    <center><a class="button" href="https://www.youtube.com/watch?v=Ywdj_01Jrdk&list=PLctR_4qr7j4_4FKvGBPWoIbex25ErVDgV">Klick Here</a></center>
    
    
</body>