<head>
    <style>
    body {background-image:url(http://linecreates.com/wp-content/uploads/2018/04/Coral-Watercolor-Marble.jpg);
    }
        #logo {
        font-family: 'Fredericka the Great', cursive;
        font-size: 70px;
        padding-top: 30px;
        padding-left: 30px;
    }
    
     .header {
       font-family: 'Lily Script One', cursive;
       font-size: 70px;
       text-align: center;  
     }
     
     .header2{
         color: black; 
         text-align: center;
        font-family: 'Amatic SC', cursive; 
        font-size: 50px; font-weight: bold;
     }
     
     .header3{
         color: black; 
         text-align: center;
        font-family: 'Amatic SC', cursive; 
        font-size: 50px; font-weight: bold;
     }
     
     .button{
                 
                  border: none;
                  color: black;
                  /*padding: 15px 32px 15px 140px;*/
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 13px;
                  margin: 4px 2px;
                  border-radius: 12px;
                  
              }
              
              
              /*NAV STYLE HERE*/
            #navbar {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #FF825D;
                border: 5px solid white;
            }
            
            .navstyle {
                float: left;
            }
                    
            .navstyle a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 30px;
                
            }
                    
            .navstyle a:hover {
                background-color: black;
            }
            /*NAV STYLE HERE*/
            
        
    </style>
    
    
</head>

<body>
    
    <!--NAV BAR CODE HERE-->
    <ul id="navbar">
      <li class="navstyle"><a class="tabs" href=" https://kravings-kwk.herokuapp.com/breakfastchecklist">Breakfast</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com//lunchchecklist">Lunch</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com//dinnerchecklist">Dinner</a></li>
      <li class="navstyle"><a class="tabs" href="hhttps://kravings-kwk.herokuapp.com//dessertchecklist">Dessert</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com//about">About</a></li>
      <li class="navstyle"><a class="tabs" href="https://kravings-kwk.herokuapp.com/youtube">While You Wait</a></li>
    </ul>  
    <!--NAV BAR CODE HERE-->
    
    <p id="logo"> Kravings </p> <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">
    
    <h1 class="header">While you wait..</h1>
    <center><h1 class="header2">Check out these playlists to pass the time (or read, please try to at least read first):</h1></center>
    
    <h1 class="header3">Funny</h1>
    <center><a class="button" href="https://www.youtube.com/watch?v=k-cavEKkirc&list=PLctR_4qr7j4-hhEdD-ozTwZb2SSdxA3fn">Klick Here</a></center>
    <h1 class="header3">Other</h1>
    <center><a class="button" href="https://www.youtube.com/watch?v=Ywdj_01Jrdk&list=PLctR_4qr7j4_4FKvGBPWoIbex25ErVDgV">Klick Here</a></center>
    
    
</body>